@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root{
    --orange: #FFA500;
    --black: #2c2c54;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #222;
}

.header i {
  color: #FFA500;
  padding-right: .5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #666;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #FFA500;
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #666;
}

.header .icons div:hover {
  color: #FFA500;
}

.header .search-form {
  position: absolute;
  top: -115%;
  right: 2rem;
  width: 50rem;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
}

.header .search-form.active {
  top: 115%;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: #222;
  text-transform: none;
}

.header .search-form label {
  font-size: 2.5rem;
  margin-right: 1.7rem;
  cursor: pointer;
  color: #666;
}

.header .search-form label:hover {
  color: #FFA500;
}

.header .shopping-cart {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}

.header .shopping-cart.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .shopping-cart .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.header .shopping-cart .box .fa-times {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}

.header .shopping-cart .box .fa-times:hover {
  color: #FFA500;
}

.header .shopping-cart .box img {
  height: 10rem;
}

.header .shopping-cart .box .content h3 {
  font-size: 1.7rem;
  padding-bottom: .5rem;
  color: #222;
}

.header .shopping-cart .box .content span {
  font-size: 1.5rem;
  color: #666;
}

.header .shopping-cart .box .content span.multiplay {
  margin: 0 .5rem;
}

.header .shopping-cart .total {
  color: #666;
  text-align: center;
  font-size: 2.2rem;
}

.header .shopping-cart .total span {
  color: #222;
}

.header .shopping-cart .btn {
  text-align: center;
  width: 100%;
}

.header .login-form {
  position: absolute;
  top: 115%;
  right: 105%;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}

.header .login-form.active {
  right: 2rem;
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.header .login-form h3 {
  color: #222;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: .7rem;
}

.header .login-form .box {
  margin: .7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  color: #222;
  text-transform: none;
  width: 100%;
}

.header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  margin: .7drem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.header .login-form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.header .login-form p {
  color: #666;
  padding-top: .7rem;
  font-size: 1.4rem;
}

.header .login-form p a {
  color: #FFA500;
}

.header .login-form p a:hover {
  text-decoration: underline;
}

/*  */

.home{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  min-height: 100vh;
  align-items: center;
  background:url("../img/supermarket-banner-concept-with-ingredients.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 6rem;
}


.home .home-left{
  font-size: 35px;
  flex: 1 1 45rem;
  text-align: center;
}

.home .home-right{
  flex: 1 1 45rem;
  padding: 2rem;
}
.home .home-right img{
  width: 70%;
  padding: 3rem;
}

.home .home-right img{
  padding:3rem;
  animation:float 3s linear infinite;
}

.button-33 {
  background-color: #FFA500;
  border-radius: 100px;
  box-shadow: rgba(187, 142, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 130, 44, 0.15) 0 1px 2px,rgba(187, 130, 44, 0.15) 0 2px 4px,rgba(187, 142, 44, 0.15) 0 4px 8px,rgba(187, 132, 44, 0.15) 0 8px 16px,rgba(187, 120, 44, 0.15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 19px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(187, 132, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 142, 44, 0.25) 0 1px 2px,rgba(187, 118, 44, 0.25) 0 2px 4px,rgba(187, 142, 44, 0.25) 0 4px 8px,rgba(187, 137, 44, 0.25) 0 8px 16px,rgba(187, 123, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/*  */


body{
    height: 200rem;
}


/*//////////////// media queries ///////////////*/
@media(max-width:1200px){

    html{
        font-size: 55%;
    }
}

@media(max-width:991px){

    .header{
        padding: 2rem;
    }
}

@media(max-width:768px){
    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        padding: 1rem 2rem;
        display: none;
    }

    .header .navbar.active{
        display: initial;
    }

    .header .navbar a{
        font-size: 2.5rem;
        display: block;
        text-align: center;
        background: white;
        margin: 1rem auto;
        border-radius: 3px;
        transition: all .3s ease;

    }
}

@media(max-width:450px){

    html{
        font-size: 50%;
    }

    
}


/*# sourceMappingURL=style.css.map */



/* /////////////product section /////////////////// */
.heading{
  font-size: 45px;
  flex: 1 1 45rem;
  text-align: center;
  
}

.heading span{
  color: #FFA500;
}

.product .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.product .box-container .box{
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  border: .1rem solid rgba(0, 0, 0, .3);
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
}

.product .box-container .box img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
  margin:auto;
  cursor: pointer;
}


.product .box-container .box .discount{
  position: absolute;
  top: 1rem; left: 1rem;
  background: rgba(255, 174, 0, 0.1);
  color: var(--orange);
  padding: .7rem 1rem;
  font-size: 2rem;
}

.product .box-container .box .icons{
  position: absolute;
  top: 5rem; right: -6rem;
}

.product .box-container .box:hover .icons{
  right: 1rem;
}

.product .box-container .box .icons a{
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--black);
  background: rgba(0, 0, 0, .05);
  border-radius: 50%;
  margin-top: .7rem;
}

.product .box-container .box .icons a:hover{
  background: var(--orange);
  color: #fff;
}

.product .box-container .box h3{
  color: var(--black);
  font-size: 2.5rem;
}

.product .box-container .box .stars i{
  padding: 1rem .1rem;
  font-size: 1.7rem;
  color: gold;
}

.product .box-container .box .price{
  font-size: 2rem;
  color: #333;

}

.product .box-container .box .price span{
  font-size: 1.5rem;
  color: #999;
  text-decoration: line-through;
}

.product .box-container .box .quantity{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: .5rem;
}

.product .box-container .box .quantity span{
  padding:2rem .7rem;
  font-size: 1.7rem;
}

.product .box-container .box .quantity input{
  border: .1rem solid rgba(0, 0, 0, .3);
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--black);
  padding: .5rem;
  background: rgba(0, 0, 0, .05);
}



.product-preview{
  position: fixed;
  top: 0; left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  display: none;
  align-items: center;
  justify-content: center;
}

.product-preview .preview{
  display: none;
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 2rem;
  width: 40rem;
}

.product-preview .preview.active{
  display: block;
}

.product-preview .preview img{
  height: 30rem;
}

.product-preview .preview .fa-times{
  position: absolute;
  top: 1rem; right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.product-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}

.product-preview .preview h3{
  color: #444;
  padding: 1rem 0;
  font-size: 2.5rem;
}

.product-preview .preview .stars{
  padding: 1rem 0;
  font-size: 1.7rem;
}

.product-preview .preview .stars i{
  color: #FFA500;
}

.product-preview .preview .stars span{
  color: #999;
}

.product-preview .preview p{
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #777;
}

.product-preview .preview .prices{
  padding: 0.3rem 0;
  font-size: 2.5rem;
  color: #FFA500;
}

.product-preview .preview .buttns{
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.product-preview .preview .buttns a{
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: .1rem solid #FFA500;
}

.product-preview .preview .buttns a.cart{
  background-color: #FFA500;
  color: white;
  text-transform: uppercase;
}

.product-preview .preview .buttns a.cart:hover{
  background: #ff8c00;
}

.product-preview .preview .buttns a.buy:hover{
  background: #ff8c00;
  color: #fff;
}